.container
    .box.left left
    .box.right right
    .box.middle middle
    .div
br
br
br
br
br

.container
    .box.left left
    .box.right right
    .box.middle middle
    .div(style="clear:both;")

.container(style="overflow:auto;")
    .box.left left
    .box.right right
    .box.middle middle

.container-after-tech
    .box.left left
    .box.right right
    .box.middle middle